
.service-card {
  background-color: #b4ffa500;  
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .service-title {
    font-size: 1.25rem; 
  }
  

  .service-description {
    font-size: 1rem; 
    color: #a7a7a7; 
  }
  

  .service-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #000000; 
    }
  